@charset "UTF-8";
:root {
  --cloudspositionX:0;
  --rotate:15s; /*la durée souhaitée en secondes*/
}

.story__article p {
  animation: fadeInText 1.5s 0.5s forwards;
}

/** ANIMATION DES FLEURS PAGE PRINCIPALE AVEC UTILISATION KEYFRAMES POUR LA ROTATION  **/
@keyframes rotate-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* AJOUT DE L'ANIMATION ROTATION SUR LES FLEURS AVEC LA VARIABLE --rotate DEFINIE DANS root */
.story h2::after,
.story__article::after,
.my-studio h2::after,
.my-studio h2::before,
.nomination::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
  animation: rotate-flower var(--rotate) linear infinite;
}

.sunflower,
.orchid {
  animation: rotate-flower 10s linear infinite;
}

#studio h2::before,
#studio h2::after {
  animation: rotate-flower 10s linear infinite;
}

/** HEADER VIDEO & ANIMATION DU LOGO  **/
@keyframes floatingLogo {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -40px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.video-oscars {
  z-index: 1;
  position: relative;
}

.banner img {
  animation: floatingLogo 5s ease-in-out infinite;
  animation-delay: 1ms;
}

/** FADE IN SUR SECTIONS **/
.banner {
  height: 500px;
  animation: fadeinDownBanner 5s;
}
.banner img {
  position: absolute;
  z-index: 2;
}

/* Style de base pour les titres à animer */
.word-animation {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease; /* Utilisation d'une transition pour un effet de fondu */
}

/* Animation pour afficher les titres */
.animate-title .word-animation {
  opacity: 1; /* Assurez-vous que l'opacité est à 1 pour afficher les titres */
  animation: animate-title 1s forwards; /* Utilisation de l'animation animate-title */
}

/* Définition de l'animation */
@keyframes animate-title {
  0% {
    opacity: 0; /* Au début de l'animation, l'opacité est à 0 */
  }
  100% {
    opacity: 1; /* À la fin de l'animation, l'opacité est à 1 */
  }
}
/** SECTION  OSCARS 2022 **/
/* Masquer les fleurs du footer */
.site-footer::before,
.site-footer::after {
  display: none;
}

.oscars {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin-top: 100px;
  justify-content: space-evenly;
  animation: fadeinUpSections 5s;
}
.oscars::before {
  content: url("../../assets/img/Sunflower.png");
  position: relative;
  left: 0em;
  top: -8em;
  animation: rotate-animation 15s infinite linear;
  transform-origin: 49.5% 39%;
}
.oscars h3 {
  background-image: url("../../assets/img/orange_oscars_bg.png");
  background-size: 100%;
  text-align: left;
  font-size: 2.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 644px;
}
.oscars .logo-oscars {
  width: 320px;
  padding-top: 20px;
}
.oscars::after {
  content: url("../../assets/img/orchid.png");
  position: relative;
  right: 0em;
  top: -12em;
  animation: rotate-animation 15s infinite linear;
  transform-origin: 49.1% 41.8%;
}

/*DEPLACEMENT DES IMAGES DANS LA NOUVELLE SECTION OSCAR

/* Déplacement de l'image orchid vers la droite */
.orchid {
  position: relative;
  top: -140px;
  left: 530px;
}

/* Déplacement de l'image sunflower vers la gauche */
.sunflower {
  position: relative;
  top: -100px;
  right: 330px;
}

.orange-image {
  position: relative;
  bottom: 150px;
  left: 180px;
}

/*SECTION PLACE NUAGE*/
.story #place {
  flex-direction: column;
  justify-content: space-evenly;
  background-image: url("../assets/images/image_place.png") !important;
  background-repeat: no-repeat;
  animation: fade-in-background 2s;
}
@media screen and (max-width: 920px) {
  .story #place > div {
    margin: 0;
  }
}
.story #place .clouds {
  position: relative;
  max-width: none;
  align-items: end;
  filter: blur(10px);
}

.big-cloud {
  top: -25px;
  right: 50px;
  position: absolute;
}
@media screen and (max-width: 920px) {
  .big-cloud {
    right: -170px;
  }
}

.little-cloud {
  right: 400px;
  top: 80px;
  position: absolute;
}
@media screen and (max-width: 920px) {
  .little-cloud {
    right: 160px;
  }
}

@media screen and (max-width: 550px) {
  .big-cloud,
  .little-cloud {
    display: none;
  }
}
/* SECTION LE LIEUX NUAGE*/
@keyframes fade-in-background {
  0% {
    background-position: 0 400px;
    opacity: 0;
  }
  100% {
    background-position: 0;
    opacity: 1;
  }
}
/*SECTION PERSONNAGE SWIPER*/
/* DECALAGE TITRE PERSONNAGES SUR LA GAUCHE */
.story #characters h3 {
  margin-right: 700px;
}

.swiper {
  width: 800px;
  height: 600px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

figure img {
  padding-top: 50px;
  max-width: none;
}
@media screen and (max-width: 1100px) {
  figure img {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  figure img {
    width: 200px;
  }
}

.swiper-slide img {
  padding-top: 50px;
  max-width: none;
}
@media screen and (max-width: 1100px) {
  .swiper-slide img {
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .swiper-slide img {
    width: 200px;
  }
}

/* SECTION MENU BURGER*/
/* Masquer le menu burger par défaut */
.burger-menu {
  display: none;
}

/* Afficher le bouton du menu burger */
.menu-toggle {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 100;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999; /* Assurez-vous que le bouton reste au-dessus de tout autre contenu */
  cursor: pointer;
  background-color: transparent;
}

/* Styles des lignes du bouton burger */
.menu-toggle .line {
  height: 2px;
  background-color: #000;
  display: block;
  width: 100%;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

/* Styles du menu burger ouvert */
.menu-open .burger-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Couleur de fond semi-transparente */
  z-index: 998; /* Assurez-vous que le menu reste en-dessous du bouton du menu */
}

/* Styles pour la liste des éléments du menu burger */
.burger-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles pour chaque élément de la liste du menu burger */
.burger-menu ul li {
  margin-bottom: 20px; /* Espacement entre chaque élément */
  text-align: center;
}

/* Styles pour les liens du menu burger */
.burger-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

/* Styles pour les liens du menu burger au survol */
.burger-menu ul li a:hover {
  color: #ff5C00; /* Changement de couleur au survol */
}

/* Styles pour le menu déroulant */
.burger-menu {
  /* Position fixe pour que le menu soit toujours visible */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Prendre toute la largeur de la page */
  height: 100%; /* Prendre toute la hauteur de la page */
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  z-index: 999; /* Assurez-vous que le menu soit au-dessus de tout autre contenu */
}/*# sourceMappingURL=style.css.map */